.section-1 {
    padding: 40px 170px 0 170px;
    @media (max-width: 1440px) {
        padding: 40px 200px 0 200px;
    }

    header {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;    
        margin-bottom: 100px;
        nav {
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                text-decoration: none;
                font-family: $fw-500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.500211px;
                color: $mainBlack;
            }

            .active {
                color: $orange;
            }

            .btn {
                font-family: $fw-400;
                padding: 15px 32px;
                border: 1px solid $orange;
                color: $orange;
                border-radius: 30px;


                &:hover {
                    background-color: $orange;
                    color: #ffffff;
                }
            }
        }
            .batareya{
                position: absolute;
                top: 540px;
                left: 1020px;
            }
    }

    main{
     margin-bottom: 250px;
        .box1{
            display: flex;
            align-items: center;
            gap: 175px;
                div{
                          h1{
                              font-weight: bold;
                              font-size: 80px;
                              line-height: 134%;
                              letter-spacing: -2.50105px;
                              color: $mainBlack;
                          }
                          .chiziq{
                              position: relative;
                          }
                          p{
                              color: $mainBlack;
                              margin-bottom: 48px;
                              font-size: 14px;
                              line-height: 200%;
                              margin-top: 17px;
                          }
                         div{
                             display: flex;
                             gap: 26px;
                         }
                     }
                   button{
                       width: 197px;
                       height: 67.01px;
                       background-color: $orange;
                       padding: 19px 50px;
                       border-radius: 40px;
                       border: 0;
                       color: white;
                       font-size: 18px;
                       
                   }
                   .button2{
                       width: 243px;
                       height: 67.01px;
                       border-radius: 40px;
                       background-color: white;
                       border: 1px solid $orange;
                       color: $mainBlack;
                       font-weight: 600;
                       font-size: 18px;
                 
                   }
        }
        }
        .box2{
            width: 100%;
            height: 890px;
            h2{
                font-size: 54px;
                color: $mainBlack;
                text-align: center;
            }
            .box3kontainer{
                margin-top: 100px;
               display: flex;
               gap: 30px;
            
                div{
                    padding: 40px 37px;
                    width: 370px;
                    height: 398px;
                    box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
                    border-radius: 10px;
                    h3{
                        margin: 40px 0 40px 0;
                        font-family: "Poppins Medium";
                        font-size: 28px;
                        letter-spacing: -0.656526px;
                        color: $mainBlack;
                    }
                    p{
                        font-size: 20px;
                        line-height: 200%;
                        margin-bottom: 40px;
                        color: $mainBlack;
                    }
                }
            }
        }
        .box3{
            width: 100%;
            position: relative;
            padding: 0 0 0 590px;
            margin-bottom: 114px;
            h2{
                font-weight: 600;
                font-size: 54px;
                line-height: 134%;
                color: $mainBlack;
                margin-bottom: 24px;
            }
            p{
                margin-bottom: 40px;
                font-size: 20px;
                line-height: 200%;
            }
            .moshina2{
                width: 680px;
                position: absolute;
                left: -79px;
                top: 53px;
            }
            .moshina-orqa{
                position: absolute;
                z-index: -1;
                left: -36px;
                top: 90px;
            }
            .dumaloqlar {
                position: absolute;
                top: 200px;
                left: -5px;
                width: 560px;
            }
            .div4tali{
                width: 500px;
                height: 115.01px;
                display: flex;
                align-items: center;
                position: relative;
                gap: 19px;
                text-align: start;
                padding: 40px 47px 40px 20px;
                background: #FFFFFF;
                border: 1px solid #80808021;
                box-shadow: 0px 30px 80px rgba(49, 48, 48, 0.08);
                border-radius: 15px;
                margin-bottom: 25px;
                p{
                    margin: 0;
                }
                img{
                    position: absolute;
                    left: 36px;
                }
                div{         
                    width: 56px;
                    height: 56px;      
                    background: $orange;
                    border-radius: 50%;
                    opacity: 0.2;

                }
            }
        }

       
  
}
.box4{
    width: 100%;
    padding: 340px 375px 102px 375px;

    h4{
        font-size: 54px;
        line-height: 134%;
        color: $mainBlack;
        font-family: "Poppins SemiBold";
        text-align: center;
    }
    p{
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        color: #888888;
        font-family: "Poppins Medium";
    
    }
    // h4{
    //     font-size: 54px;
    //     line-height: 134%;
    //     color: $mainBlack;
    //     font-family: "Poppins SemiBold";
    //     text-align: center;
    //     margin-bottom: 50px;
    // }
    // div{         
    //     width: 1032px;
    //     height: 326px;
    //     box-shadow: 0px 15px 40px rgba(102, 102, 102, 0.05);
    //     border-radius: 5px;
    //     margin-bottom: 271px;
    //     padding: 43px 140px 43px 182px;
    //     h5{
    //         font-size: 36px;
    //         line-height: 100%;
    //         color: $mainBlack;
    //         font-family: "Poppins Medium";
    //     }
    //     .p-1{
    //         font-size: 18px;
    //         color: #888888;
    //         margin:  10px 0 30px 0;
    //     }
    //     p{
    //         font-size: 20px;
    //         line-height: 200%;
    //         color: #666666;
    //     }
    // }
    // h5{
    //     font-size: 36px;
    //     line-height: 100%;
    //     color: $mainBlack;
    //     font-family: "Poppins Medium";
    // }
    // .p-2{
    //     margin-top: 20px;
    //     font-size: 22px;
    //     line-height: 36px;
    //     opacity: 0.7;
    // }
    // hr{
        
    //     position: absolute;
    //     width: 627px;
    //     height: 1px;
    //     left: 390px;


    //     background: #202020;

    //     opacity: 0.08;
    // }
}

